/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common and colors*/

body{
    background-color: #F6F8F9;
    font-family: "Poppins", sans-serif;
}

header, img{
    height: 60px;
}

.container{
    background-color: #ffffff;
}

main{
    margin: 40px 290px;
}

.blue-tag{
    background-color: #09A9ED;
}

.purple-tag{
    background-color: #AB5DE6;
}

.green-tag{
    background-color: #2EC6AB;
}

.yellow-tag{
    background-color: #FF9B00;
}

.pink-tag{
    background-color: #EC499D;
}

/* Add buttons section */

.add-section{
    border-radius: 4px 4px 0 0;
    padding: 10px 45px;
}

.add-buttons{
    border-radius: 3px;
    padding: 2px 4px;
}

.btn1{
    background-color: #17AAF5;
    border: 1.5px solid #00000000;
}

.btn2{
    background-color: #ffffff;
    border: 1.5px solid #727272b3;
}

.add-buttons:hover{
    border: 1.5px solid #494949cf;
    cursor: pointer;
}

.add-buttons:active{
    border: 1.5px solid #727272b3
}

/* Task list */

.list-section{
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
    padding: 20px 30px 50px 30px;
}

ul{
    list-style-type: none;
    margin: 0 0 40px 15px;
}

li{
    margin-bottom: 15px;
}

.tasks{
    font-size: 8px;
    padding: 0 0 15px 4px;
}

.title{
    font-size: 16px;
    margin-left: 10px;
}

/* Task details */

.check{
    display: inline-block;
    border: 1px solid #38CBB1;
    border-radius: 50%;
    text-align: center;
    width: 15px;
    line-height: 13px;
    margin-right: 10px;
    color: #38CBB1;
}

.cross{
    display: inline-block;
    color: red;
    width: 15px;
    margin-right: 10px;
}

.tag{
    font-weight: normal;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    color: white;
    font-size: 12px;
}
